/* CSS/Loginsign.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.loginsignup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.loginsignup-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.loginsignup-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333333;
}

.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}

.loginsignup-fields input {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

.loginsignup-fields input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-btn {
  background-color: #007bff;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.loginsignup-login {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #555555;
}

.loginsignup-login a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}


.loginsignup-login a:hover {
  color: #0056b3;
}


.loginsignup-fields select,
.loginsignup-fields input {
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
}
